# Markdown

snippet sl
        !SLIDE ${1}
        ${2}
snippet code
                @@@${1}
                ${2}
snippet at
        tag=thtasta-20
snippet e
        enscript
snippet er
        enscript ruby
snippet ej
        enscript javascript
snippet em
        enscript markdown
snippet [
        [${1:text}](http://${2:address} "${3:title}")
snippet ![
        ![${1:alttext}](${2:/images/image.jpg} "${3:title}")